<settings>
  <profiles>
    <profile>
      <id>onebeartoe-repos</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

      <repositories>
        

        <repository>
            <id>onebeartoe-repo</id>
            <name>onebeartoe Maven Repository</name>
            <url>http://onebeartoe.org/maven/2/repository/</url>
        </repository>        

        
      </repositories>
    </profile>
  </profiles>
</settings>
