<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Smoke-Suite" parallel="none">
    <test name="Smoke-Test">
        <groups>
            <run>
                <include name="test-ng" />
                <exclude name="Regression"/>
            </run>
        </groups>

<!--        
        <packages>
            <package>*</package>
        </packages>
-->
    
        <classes>
            <class name="org.onebeartoe.testng.Testing"/>
        </classes>
    </test>

   
<!-- examples follow -->        
                
<!--
    <test name="Regression-Tests">
        <groups>
            <run>
                <include name="Regression" />
                <exclude name="Smoke"/>
            </run>
            
            <packages>
                <package>*</package>
            </packages>
        </groups>
    </test>
-->    

<!--
    <test name="Junit-Regression-Tests" junit="false">
    <test name="Junit-Regression-Tests" junit="true">
        
        <classes>                            
            <class name="org.onebeartoe.automation.content.verification.NotTestngTest"/>
            <class name="org.onebeartoe.testing.junit.JUnitArithmeticTests"/>
        </classes>        
    </test>
-->


<!--
    <test name="Regression-Tests">
        <groups>
            <run>
                <include name="Regression" />
                <exclude name="Smoke"/>
            </run>
            
            <packages>
                <package>*</package>
            </packages>
        </groups>
    </test>
-->


<!--        
        <packages>
            <package>*</package>
        </packages>

        <packages>
            
            <package>org.onebeartoe.automation.content.verification</package>
        </packages>
                
        <classes>
            <class name="DataDrivenTesting.TestDDT"/>
            <class name="testngDemo.TestGroupDemo"/>
        </classes>        
-->






</suite>